@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');

body, html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

h1 {
  font-weight: 700;
  font-size: 46px;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: 26px;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  word-spacing: 2px;
}

h5 {
  text-transform: uppercase;
  font-size: 12px;
  word-spacing: 2px;
}

h6 {
  text-transform: uppercase;
  font-size: 10px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

p {
  font-weight: 400;
}

hr {
  width: 50px;
  border-color: #c59a6d;
}

a {
  color: #222222;
}
a:hover,
a:focus {
  color: #c59a6d;
  text-decoration: none;
}

/* Home Section */
#home {
  background: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  min-height: 710px;
  padding-top: 60px;
  color: #ffffff;
}

#home a.down-btn span.fa.fa-angle-down {
  font-size: 26px;
  border: 1px solid #c59a6d;
  border-radius: 2px;
  padding: 7px 5px;
  position: relative;
  margin-top: 100px;
  color: #ffffff;
  cursor: pointer;
}

.content {
  padding-top: 16%;
}

.header-text.btn {
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 10px 30px;
  height: 100px;
}
.header-text.btn:hover {
  color: inherit;
}

.typed-cursor {
  opacity: 1;
  padding: 10px 2px;
  background: #ffffff;
  margin: 10px;
  -webkit-animation: blink 0.5s linear infinite;
          animation: blink 0.5s linear infinite;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
span.typed-cursor {
  top: -5px;
  position: relative;
}

/* Navigation */
nav#menu span.fa.fa-bars {
  font-size: 30px;
  position: fixed;
  left: 120px;
  color: #c0c0c0;
  cursor: pointer;
  z-index: 1;
}

/* Off-Canvas Menu */
.navmenu, .navbar-offcanvas {
  width: 270px;
  z-index: 10;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
  background-color: #1E2429;
  border-color: #1E2429;
  border: 0;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
}
nav#menu span.fa.fa-bars:hover {
  color: #C59A6D;
}

/* Footer */
#footer {
  background: #f8f8f8;
  padding: 20px 0;
}
#footer p {
  margin: 0;
  color: #777;
}
